doctype html
html
 head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=dege")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  link(rel='stylesheet', href='/stylesheets/reveal/reveal.css')
  link(rel='stylesheet', href='/stylesheets/reveal/theme/black.css', id="theme")
 body
  a(href="http://bing.com", title="home")
   img(src="/images/back.png", alt="", style="position:absolute;top:0;left:0;border:0;", width="20px", height="20px" \)
  block content
  script(src="/javascripts/reveal/reveal.js")
  script(src="/javascripts/reveal/head.min.js")
  script.
   Reveal.initialize();

