doctype html
html
 head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=dege")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  link(rel='stylesheet', href='/stylesheets/foundation-icons.css')
  link(rel='stylesheet', href='/stylesheets/reveal/reveal.css')
  link(rel='stylesheet', href='/stylesheets/reveal/theme/black.css', id="theme")
 body
  div(class="glyph")
   a(href="/", title="home") 
    i(class="step fi-home size-60")
  block content
  script(src="/javascripts/reveal/reveal.js")
  script(src="/javascripts/reveal/head.min.js")
  script.
   Reveal.initialize();

